body {
    background-color: gainsboro;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme{
    background-color: dimgrey;
    color:antiquewhite;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:bisque;
    color:black;
    padding-top:2Rem;
}

.theme-toggle{
    cursor: pointer;
    text-decoration: underline;
    color:black;
    font-size:large;

}

.theme-container{
    display: flex;
    justify-content: end;
    background-color:bisque;
    color:black;
    padding-bottom: 1Rem;
    padding-right: 1Rem;
}

section{
    padding: 2Rem;
    margin: 1Rem 0;

}

.about,.projects,.contact,.education{
    max-width: 800px;
    margin: 0 auto;

}


.projects{
    margin-bottom: 1Rem;
}

.project{
    margin-bottom: 2Rem;
}